<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYgK88ow1E_tL8zdGcGc3nJtHyzdzS0Tk</string>
	<key>GCM_SENDER_ID</key>
	<string>830899687706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.konasl.FinanceManager</string>
	<key>PROJECT_ID</key>
	<string>financemanager-af7fc</string>
	<key>STORAGE_BUCKET</key>
	<string>financemanager-af7fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830899687706:ios:e88d985b732131461e1ca3</string>
</dict>
</plist>